%h1 Payments

%p
  = link_to "New payment", new_resource_path

%table
  %thead
    %tr
      %th Transaction ID
      %th Description
      %th Created
      %th Amount
      %th Status
  %tbody
    = render collection
